<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:replace="~{./include/header :: header1}"></th:block>

	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/animalList.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	




<!-- header -->
<th:block th:replace="~{./include/header :: header2}"></th:block>



    <!-- sidebar -->
    <th:block th:replace="~{./include/sidebar :: sidebar}"></th:block>
    
    <th:block th:replace="~{./include/sidebar_r :: sidebar_r}"></th:block>


   <section>

        <div class="container">

            <div class="headbox">
                <div>
                    <h3 class="h3">유기 동물</h3>
                    <hr>
            
                    <form name="animal_List" action="animal_List" method="get">
                    	
                    	<input type="hidden" name="page" th:value="1">
                    	<input type="hidden" name="amount" th:value="${pageVO.amount}">
                    	
                    
                        <div class="search_block flfull">
                            <div class="fl">
                                <div>
                                    <span class="search_th">▶ 종류 검색</span>
                                    <select name="searchType">
                                        <option value="">선택</option>
                                        <option value="dog" th:selected="${pageVO.cri.searchType} == dog">강아지</option>
                                        <option value="cat" th:selected="${pageVO.cri.searchType} == cat">고양이</option>
                                        <option value="bird" th:selected="${pageVO.cri.searchType} == bird">새</option>
                                        <option value="hamster" th:selected="${pageVO.cri.searchType} == hamster">햄스터</option>
                                    </select>
                                </div>
        
                                <div>
                                    <span class="search_th">▶ 나이 검색</span>
                                    <input type="text" class="searchAge" name="searchAge" placeholder="나이" th:value="${pageVO.cri.searchAge}">
                                </div>
        
                                <div class="sel">
                                    <span class="search_th">성별 검색</span>
                                    <select name="searchMW">
                                        <option value="">선택</option>
                                        <option value="m" th:selected="${pageVO.cri.searchMW} == m">수컷</option>
                                        <option value="w" th:selected="${pageVO.cri.searchMW} == w">암컷</option>
                                    </select>
                                </div>
                            </div>
        
                            <div class="fr">
                                <div class="search_btn_are">
                                    <a href="##" class="normal_btn purplebtn" id="searchBtn">검색</a>
                                </div>
                            </div>
                        </div>
                    </form>
        
            
            
                    <div class="row aniPic">
		                    <th:block th:each=" anivo : ${animal}">
		                	<!-- <th:block th:if="${anivo.LIST_NUM} == 1"> -->
		                  	
		                        <div class="col-md-3 col-sm-6 col-xs-12 box"> 
		                            <div class="ani_img">
		                                <img th:src="@{../display(filepath=${anivo.ANIMAL_PATH}, uuid=${anivo.ANIMAL_UUID} , filename=${anivo.ANIMAL_FILENAME})}" alt="이미지">
		                            </div>
		                            
		                            
		                            <div class="boxDetail">
		                                <div class="boxLeft">
		                                	
		                                	<span style="display: none">[[${anivo.ANIMAL_NUM}]]</span>
		                                    <span>이름 &nbsp&nbsp&nbsp[[${anivo.ANIMAL_NAME}]]</span>
		                                    <span>종류 &nbsp&nbsp&nbsp[[${anivo.ANIMAL_TYPE}]]</span>
		                                    <span>나이 &nbsp&nbsp&nbsp[[${anivo.ANIMAL_AGE}]]</span>
		                                    <span>성별 &nbsp&nbsp&nbsp[[${anivo.ANIMAL_GENDER}]]</span>
		                                    
		                                </div>
		                                
		                                <div class="boxRight">
		                                    <span>등록일:[[${#strings.substring(anivo.ANIMAL_DATE,0,10)}]]</span>
		                                </div>
		                            </div>
		                            
		                        </div>
		                    <!-- </th:block> -->
							</th:block>				
                    </div>
                    
                        <div class="wrtie-btn">
                            <input type="button" value="글쓰기" class="btn-write" th:onclick="location.href='/animal/animal_Reg'">
                        </div>
                    
                   <!--  <div class="text-center">부트스트랩의 클래스
                        <ul class="pagination pagination-sm">
                            <li><a href="#">이전</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">다음</a></li>
                        </ul>
                    </div> -->
                    <!-- 페이지네이션 -->
	<!-- 	        <div class="page text-center">
					<ul class="pagination pagination-sm">
					<th:block th:if="${pageVO.realEnd != 0}">
						<li><a th:href="@{/animal/animal_List(page=1, amount=${pageVO.amount})}"><<
								<i class="fa fa-angle-double-left" aria-hidden="true"></i>
							</a>
						</li>
					</th:block>
						
						
					<th:block th:if="${pageVO.prev}">
						<li style="margin-right:5px;">
							<a th:href="@{/animal/animal_List(page=${pageVO.start - 1}, amount=${pageVO.amount}) }"><
								<i class="fa fa-angle-left" aria-hidden="true"></i>
							</a>
						</li>
					</th:block>
					
					<th:block th:each="page : ${pageVO.pageList}">
						<li th:class="${pageVO.page == page ? 'on' : '' }">
							<a th:href="@{/animal/animal_List(page=${page}, amount=${pageVO.amount}) }">[[${page}]]</a>
						</li>
					</th:block>
						
						
					<th:block th:if="${pageVO.next}">
						<li style="margin-left:5px;">
							<a th:href="@{/animal/animal_List(page=${pageVO.end + 1}, amount=${pageVO.amount}) }">>
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</li>
					</th:block>
					
						
					<th:block th:if="${pageVO.next}">	
						<li>
							<a th:href="@{/animal/animal_List(page=${pageVO.realEnd}, amount=${pageVO.amount}) }">>>
								<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							</a>
						</li>
					</th:block>
					
					</ul>
				</div> -->
                    
                    
                    <!-- <th:block th:replace="~{./include/page_animal&rec_list :: page('/animal/animal_list',${PageVO})}"></th:block> -->
    
	<div class="page text-center col-md-12 col-sm-6 col-xs-4">
	<ul class="pagination pagination-sm">
	<th:block th:if="${pageVO.realEnd != 0}">
		<li><a th:href="@{${pageName}(page=1, 
											   amount=${pageVO.amount},
											   searchType=${pageVO.cri.searchType},
											   searchAge=${pageVO.cri.searchAge},
											   searchMW=${pageVO.cri.searchMW}
											   )}"><<
											    
				<i class="fa fa-angle-double-left" aria-hidden="true"></i>
			</a>
		</li>
	</th:block>
		
		
	<th:block th:if="${pageVO.prev}">
		<li style="margin-right:5px;">
			<a th:href="@{${pageName}(page=${pageVO.start - 1},
			 								   amount=${pageVO.amount},
											   searchType=${pageVO.cri.searchType},
											   searchAge=${pageVO.cri.searchAge},
											   searchMW=${pageVO.cri.searchMW}
											   )}"><
											   
				<i class="fa fa-angle-left" aria-hidden="true"></i>
			</a>
		</li>
	</th:block>
	
	<th:block th:each="page : ${pageVO.pageList}">
		<li th:class="${pageVO.page == page ? 'on' : '' }">
			<a th:href="@{${pageName}(page=${page},
											   amount=${pageVO.amount},
											   searchType=${pageVO.cri.searchType},
											   searchAge=${pageVO.cri.searchAge},
											   searchMW=${pageVO.cri.searchMW}
											   )}">[[${page}]]</a>
											    
		</li>
	</th:block>
		
		
	<th:block th:if="${pageVO.next}">
		<li style="margin-left:5px;">
			<a th:href="@{${pageName}(page=${pageVO.end + 1},
											   amount=${pageVO.amount},
											   searchType=${pageVO.cri.searchType},
											   searchAge=${pageVO.cri.searchAge},
											   searchMW=${pageVO.cri.searchMW}
											   )}">>
											   
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</a>
		</li>
	</th:block>
	
		
	<th:block th:if="${pageVO.next}">	
		<li>
			<a th:href="@{${pageName}(page=${pageVO.realEnd},
											   amount=${pageVO.amount},
											   searchType=${pageVO.cri.searchType},
											   searchAge=${pageVO.cri.searchAge},
											   searchMW=${pageVO.cri.searchMW}
											   )}">>>
											   
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</li>
	</th:block>
	
	</ul>
	</div>
									
	

                </div>
            </div>    
        </div>

        <div class="container" id="modal">
            <h3>상세보기</h3>
            
            <form action="insertHistory" name="insertHistory" method="post">
            
            <hr>
            <div class="row">

                <div class="detail_wrap">

                    <div class="detail_content">
                        <div class="detail_left">
							<input type="hidden" class="animal_num" name="animal_num" id="animalPk" >
                            <span class="animal_num"></span>
                            <span class="animal_type"></span>
                            <span class="animal_name"></span>
                            <span class="animal_age"></span>
                            <span class="animal_gender"></span>
                            <span class="animal_disease"></span>
                            <span class="animal_surgery"></span>
                            <span class="animal_care"></span>
                            <span class="animal_cost"></span>
                        </div>
                        
                        <div class="detail_right">
                            <span class="animal_content">참조내용 :  </span>
                            <p class="animal_content2"></p>
                            
                        </div>
                        
                    </div>
                    
                    <div class="detail_pic">
                        <img  class="animal_pic" th:src="@{/img/hani.JPG}">
                        <span class="unlike" id="animal_like"> ❤ </span>
                    </div>

                    
                </div>
                <input type="submit" class="adopt" value="입양신청하기">
	            <input type="button" value="수정" id="updateAnimal"  name="updateAnimal" style="width : 8%">
                
            </div>
            <a class="modal_close_btn"> ✘ </a>
            </form>

        </div>
	
    </section>


    
    <!-- footer -->
    <th:block th:replace="~{./include/footer :: footer1}"></th:block>


        <script>
            function modal(id) {
                    var zIndex = 9999;
                    var modal = document.getElementById(id);
                    
                    // 모달 div 뒤에 불투명 레이어
                    var bg = document.createElement('div');
                    bg.setStyle({
                        position: 'fixed',
                        zIndex: zIndex,
                        left: '0px',
                        top: '0px',
                        width: '100%',
                        height: '100%',
                        overflow: 'auto',
                        backgroundColor: 'rgba(255,255,255,0.95)'
                    });
                    document.body.append(bg);
                    
                    // 닫기 버튼 처리
                    modal.querySelector('.modal_close_btn').addEventListener('click', function() {
                        bg.remove();
                        modal.style.display = 'none';
                    });
                    
                    modal.setStyle({
                        position: 'fixed',
                        display: 'block',
                        boxShadow: '0px 3px 3px 0px rgba(0, 0, 0, 0.3), 0 4px 8px 0 rgba(225,225,225,0.9)',
                        zIndex: zIndex + 1,
                        
                        // div center 정렬
                        top: '50%',
                        left: '50%',
                        transform: 'translate(-50%, -50%)',
                        msTransform: 'translate(-50%, -50%)',
                        webkitTransform: 'translate(-50%, -50%)'
                    });
                }
                
                // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
                Element.prototype.setStyle = function(styles) {
                    for (var k in styles) this.style[k] = styles[k];
                    return this;
                };
                
                
                
                
                
                
              
             /*    console.log(ani_img[i]);
                console.log(ani_img[i].nextElementSibling.firstElementChild.firstElementChild.innerHTML);
                console.log(ani_img[1].nextElementSibling.firstElementChild.firstElementChild.innerHTML);
                
                $.ajax({
                	type:'GET',
                	url:'/modalview?pk=${}'
  					
                }) */
                
                
                $(".box").on("click",".ani_img" , function(e){
                	
                	
                	var inner_HTML = ($(e.target.parentElement.nextElementSibling.firstElementChild.firstElementChild));
                	var inner_HTML = inner_HTML[0].innerHTML;
                	
                		
                	$.ajax({
                	type:'GET',
                	url:'/modalview?pk='+inner_HTML,
                	success : function(data){
                		
                		
                		$(".animal_num").html("동물번호:"+data.animal_NUM);
                		$(".animal_type").html("종류:"+data.animal_TYPE);
                		$(".animal_name").html("이름:"+data.animal_NAME);
                		$(".animal_age").html("나이:"+data.animal_AGE);
                		$(".animal_gender").html("성별:"+data.animal_GENDER);
                		$(".animal_disease").html("질병유무:"+data.animal_DISEASE);
                		$(".animal_surgery").html("중성화여부:"+data.animal_NEUTRAL);
                		$(".animal_care").html("돌봄필요시간:"+data.animal_TIME);
                		$(".animal_cost").html("돌봄유지비용:"+data.animal_COST);
                		$(".animal_content2").html(data.animal_CONTENT);
                		$(".animal_pic").attr("src","../display?filepath=" + data.animal_PATH +'&' + 'uuid=' + data.animal_UUID +'&' + 'filename=' + data.animal_FILENAME );
                		$("#animalPk").val(data.animal_NUM);
                		
                		
                	}
  					
                })
                	
                	modal('modal');
                	
                })
                
                /* 
                var ani_img = document.querySelectorAll('.ani_img');
                
                for( var i = 0; i < ani_img.length; i++) {
                    ani_img[i].addEventListener('click', function(){
                        modal('modal');
                    }); 
                } */


                //하트 토글 
                var animal_like = document.getElementById('animal_like');
                animal_like.onclick = function() {
                    if (animal_like.className == 'unlike') {
                        animal_like.className = 'like';

                    } else {
                        animal_like.className = 'unlike';
                    }
                }
        
            </script>

<script th:inline="javascript">

(function() {
	var msg = JSON.parse('[[${msg}]]');
	if(msg != null) {
		alert(msg);
	}	
})();
	

 var searchBtn = document.getElementById("searchBtn");
 searchBtn.onclick = function(){
	 console.log(1);
	 
	 event.preventDefault();
	 document.animal_List.submit();
	 
 }




	$("#updateAnimal").click(function(){
		
		
		document.insertHistory.action = "getpkUpdate";
		document.insertHistory.submit();
		
	})

 	









</script>

<th:block th:replace="~{./include/footer :: footer2}"></th:block>
</html>