<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:fragment="footer1">


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7 com-sm-12">
                    <div class="copyright">
                        <a href="#">
                            💌
                        </a>
                        유기동물 매칭 PROJECT | 1조 : 정보현, 이한슬, 김지원, 강영규<br>
                        대표자번호 : 010-1111-1111 | 수업 : 디지털데이터 자바 - 강남 | 5실습실 1조 PROJECT<br>
                        주소 : 서울시 강남구
                        <address>©️1조 PROJECT. ALL RIGHTS RESERVED</address>
                    </div>
                </div>

                <div class="col-md-5 com-sm-12">
                    <div class="footer-menu">
                        <ul class="copyright-menu">
                            <li><a href="#">고객지원</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">고객정보취급방침</a></li>
                            <li><a href="#">문의사항</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>


<th:block th:fragment="footer2">
</body>
</th:block>
</html>