<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 타임리프문법 선언 -->

<th:block th:replace="~{./include/header :: header1}"></th:block>

<script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous">
	
</script>

<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">


<!-- header -->
<th:block th:replace="~{./include/header :: header2}"></th:block>

<th:block th:replace="~{./include/sidebar :: sidebar}"></th:block>

<section id="signup">

	<div class="container">
		<div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign_list">
				<h3 class="h3">MY PAGE</h3>
				<hr>

				<form class="userUpdate" action="userUpdate" method="post">

					<div class="inner-box">
						<div class="inner-top">
							<div class="myinfo">

								<table class="myinfo_table">
									<div>

										<tr class="subjec">
											<th>입양신청한 동물 수</th>
											<td class="value">[[${getAdopt}]]</td>
											<th>입양된 동물 수</th>
											<td class="value">[[${getAnimal}]]</td>
											<th>등록한 게시글 수</th>
											<td class="value">[[${getFree}]]</td>

										</tr>

									</div>

									<!-- <div>
										<tr class="value">
											<td>1</td>
											<td>2</td>
											<td>3</td>

										</tr>

									</div> -->
								</table>

								<div class="info">
									<h2 class="add">추가정보</h2>

									<!-- 연봉 -->
									<div class="join_row mypage_row">
										<h3>
											<label for="salary">연봉</label>
										</h3>

										<span class="box salary"> <select class="sa" name="user_salary">
												<option value="">금액</option>
												<option value="2"
													th:selected="${session.userVO.user_salary} == 2">3000이하</option>
												<option value="3"
													th:selected="${session.userVO.user_salary} == 3">3000~4000</option>
												<option value="4"
													th:selected="${session.userVO.user_salary} == 4">4000~5000</option>
												<option value="5"
													th:selected="${session.userVO.user_salary} == 5">5000이상</option>
										</select>
										</span> 
										<label class="box error_box mypage_error">[[${valid_user_salary}]]</label>
									</div>

									<!--집 평수 -->
									<div class="join_row mypage_row">

										<h3>
											<label for="size">집 평수(평)</label>
										</h3>

										<span class="box"> <input type="text" id="size" name="user_size"
											th:value="${session.userVO.user_size}">
										</span> 
										<label class="box error_box mypage_error">[[${valid_user_size}]]</label>
									</div>

									<!-- 집에있는 시간 -->
									<div class="join_row mypage_row">

										<h3>
											<label for="stay">집에있는시간(시간)</label>
										</h3>

										<span class="box"> <input type="text" id="stay" name="user_stay"
											th:value="${session.userVO.user_stay}">
										</span>
										<label class="box error_box mypage_error">[[${valid_user_stay}]]</label>
									</div>

									<div class="join_row mypage_row">
										<h3>
											<label for="preferred">선호하는 동물</label>
										</h3>

										<span class="box preferred" id="preferred"> <select
											class="pref" name="user_like">
												<option value="">동물선택</option>
												<option value="dog"
													th:selected="${session.userVO.user_like} == 'dog'">강아지</option>
												<option value="cat"
													th:selected="${session.userVO.user_like} == 'cat'">고양이</option>
												<option value="bird"
													th:selected="${session.userVO.user_like} == 'bird'">새</option>
												<option value="hamster"
													th:selected="${session.userVO.user_like} == 'hamster'">햄스터</option>
												<option value="etc"
													th:selected="${session.userVO.user_like} == 'etc'">기타</option>

										</select>
										</span>
										<label class="box error_box mypage_error">[[${valid_user_like}]]</label>

									</div>

									<div class="join_row mypage_row">
										<h3>
											<label for="nowani">현재 동물을 키우고 계십니까?</label>
										</h3>
										


										<div class="checks">

											<label class="radio-inline"><input type="radio"
												name="optradio" value="y"
												th:checked="${session.userVO.optradio == 'y' }">예</label> <label
												class="radio-inline"><input type="radio"
												name="optradio" value="n"
												th:checked="${session.userVO.optradio == 'n' }">아니오</label>
											<!-- <input type="radio" name="" >Option 1 -->
											
										</div>


										<!-- 
                                            <input type="radio" value="y" id="ch11" name="che" checked>
                                            <label for="ch11">예</label>
                                            <input type="radio" value="n" id="ch12" name="che">
                                            <label for="ch12">아니요</label>   
                                     -->

									</div>

								</div>

							</div>




							<div class="left">

								<div class="test">
									<!-- 아이디 -->
									<div class="join_row mypage_row">
										<input type="hidden" name="user_num" th:value="${session.userVO.user_num}" readonly>
										<h3>
											<label for="id">아이디</label>
										</h3>

										<span class="box"> <input type="text" id="id" name="user_id"
											class="id" maxlength="20"
											th:value="${session.userVO.user_id}">
										<label class="error_box mypage_error">[[${valid_user_id}]]</label>
									</div>

									<!-- 비밀번호 -->
									<div class="join_row mypage_row">

										<h3>
											<label for="pw">비밀번호</label>
										</h3>

										<span class="box"> <input type="password" id="pw" name="user_pw"
											class="pw" th:value="${session.userVO.user_pw}">

										</span> <span class="error_box" id="pw_msg" style="display: none;"></span>


										<!-- 비밀번호 확인 -->
										<h3>
											<label for="pw-check" >비밀번호 확인</label>
										</h3>

										<span class="box"> <input type="password" id="pw-check"
											class="pw-check">
										</span> <span class="error_box" id="pw_check_msg"
											style="display: none;"></span> <span class="box pw_check_box pw_check"><input
											type="button" onclick="test()"  value="비밀번호 확인"></span>
										<label class="box error_box mypage_error">[[${valid_user_pw}]]</label>
									</div>

									<!-- 이름 -->
									<div class="join_row mypage_row">
										<h3>
											<label for="name">이름</label>
										</h3>

										<span class="box"> <input type="text" id="name" name="user_name"
											class="name" th:value="${session.userVO.user_name}">
										</span> 
										<label class="box error_box mypage_error">[[${valid_user_name}]]</label>
									</div>

								</div>


								<!-- 생년월일 -->
								<div class="join_row bir mypage_row">
									<h3>
										<label class="birth" for="yy">생년월일</label>
									</h3>

									<span class="box yy"> 
										<input type="text" id="yy" class="yy" name="user_year" maxlength="4" th:value="${#strings.substring(session.userVO.user_age,0, 4)}">
									</span> 
													

									<span class="box mm"> <select class="mm" name="user_month">
											<option value="">월</option>
											<option value="01"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 01">1</option>
											<option value="02"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 02">2</option>
											<option value="03"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 03">3</option>
											<option value="04"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 04">4</option>
											<option value="05"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 05">5</option>
											<option value="06"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 06">6</option>
											<option value="07"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 07">7</option>
											<option value="08"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 08">8</option>
											<option value="09"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 09">9</option>
											<option value="10"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 10">10</option>
											<option value="11"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 11">11</option>
											<option value="12"
												th:selected="${#strings.substring(session.userVO.user_age, 5, 7)} == 12">12</option>
									</select>
									</span> <span class="error_box" id="mm_msg" style="display: none;"></span>
									<span class="box dd"> <input type="text" class="dd" name="user_day"
										maxlength="2" placeholder="일"
										th:value="${#strings.substring(session.userVO.user_age,8, 10)}">
									</span>
									<label class="box error_box mypage_error">[[${valid_user_day}]]</label>

								</div>



								<div class="gep">
								    <!-- 성별 -->

								    <div class="join_row mypage_row">

								        <h3>
								            <label for="gen">성별</label>
								        </h3>
								        <span class="box gen">
								            <select id="gen" class="gender" name="user_gen">
								                <option value="">성별</option>
								                <option value="m" th:selected="${session.userVO.user_gen} == 'm'">남</option>
								                <option value="w" th:selected="${session.userVO.user_gen} == 'w'">여</option>
								            </select>
								        </span>
								        <label class="box error_box mypage_error">[[${valid_user_gen}]]</label>

								    </div>

								    <!-- 이메일 -->
								    <div class="join_row mypage_row">

								        <h3>
								            <label for="email">이메일</label>
								        </h3>

								        <span class="box"> <input type="text" id="email" class="email" name="user_email" maxlength="50" th:value="${session.userVO.user_email}">
								        </span> 
										<label class="box error_box mypage_error">[[${valid_user_email}]]</label>

								    </div>

								    <!-- 전화번호 -->
								    <div class="join_row mypage_row">

								        <h3>
								            <label for="phon">전화번호</label>
								        </h3>

								        <span class="box"> <input type="tel" id="phon" class="phon" name="user_phone" maxlength="13" th:value="${session.userVO.user_phone}">
								        </span>
										<label class="box error_box mypage_error">[[${valid_user_phone}]]</label>

								    </div>

								</div>

								<div>

									<input type="submit" class="sub" value="수정하기">
								</div>

							</div>

						</div>
					</div>

				</form>

			</div>
		</div>
	</div>


</section>


<!-- footer -->
<th:block th:replace="~{./include/footer :: footer1}"></th:block>

<script type="text/javascript">
	function test() {
		var p1 = document.getElementById('pw').value;
		var p2 = document.getElementById('pw-check').value;
		if (p1 != p2) {
			alert("비밀번호가 일치 하지 않습니다");
			return false;
		} else {
			alert("비밀번호가 일치합니다");
			return true;
		}

	}
	
	//메시지
	(function() {
		var msg = JSON.parse('[[${msg}]]');
		if(msg != null) {
			alert(msg);
		}	
	})();
	
</script>

<th:block th:replace="~{./include/footer :: footer2}"></th:block>

</html>