/* footer */
footer {
    background-color: white;
    margin-top: 5%;
    opacity: 80%;
}

footer > .container {
    border-top: 1px solid #777;
}

footer .copyright {
    color: black;
    padding: 30px 0;
}
footer address {margin: 0;}
footer .footer-menu {
    overflow: hidden;
    padding: 30px 0;
}
footer .footer-menu .copyright-menu {float: right;}
footer .footer-menu .copyright-menu li {
    display: inline-block;
    padding: 0 5px;
}
footer .footer-menu .copyright-menu li a {
    color: #777;
}