<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:replace="~{./include/header :: header1}"></th:block>

    <!-- 개인디자인(부트스트랩 아래에 위치) -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/info.css}">


<th:block th:replace="~{./include/header :: header2}"></th:block>


    <section class="section">
        <div class="container">
            <h3>입양 안내</h3>
            <hr>

            <div class="area_bg">
                <div class="sub_con">
                    <div class="txt_c">
                        <img src="img/정보1.PNG" alt="정보1">

                        <p class="fs16">
                            개나 고양이를 키우고 싶다면 유기동물 보호시설에서 보호하고 있는 유기동물을 입양하는게 어떨까요?
                            <br>
                            원하는 동물을 새 식구로 맞이하는 것은 물론 한 생명을 구했다는 자부심으로 가슴이 뿌듯해집니다.
                        </p>
                    </div>
                </div>

                <div class="line">
                </div>

                <p class="blue_tit">입양 전 진지하게 점검해야 할 체크리스트</p>
                <ul class="arr_blue mb30">
                    <li class="first">✔️ &nbsp 반려동물을 맞이할 환경적 준비, 마음의 각오는 되어 있습니까?</li>
                    <li>✔️ &nbsp 개, 고양이는 10~15년 이상 삽니다. 결혼, 임신, 유학, 이사 등으로 가정환경이 바뀌어도 한번 인연을 맺은 동물은 끝까지 책임지고 보살피겠다는 결심이 섰습니까?</li>
                    <li>✔️ &nbsp 모든 가족과의 합의는 되어 있습니까?</li>
                    <li>✔️️ &nbsp 반려동물을 기른 경험이 있습니까? 내 동물을 위해 공부할 각오가 되어 있습니까?</li>
                    <li>✔️ &nbsp 아플 때 적절한 치료를 해주고, 중성화수술(불임수술)을 실천할 생각입니까?</li>
                    <li>✔️ &nbsp 입양으로 인한 경제적 부담을 짊어질 의사와 능력이 있습니까?</li>
                    <li>✔️️ &nbsp 우리 집에서 키우는 다른 동물과 잘 어울릴 수 있을지 고민해보았습니까?</li>
                </ul>

                <p class="blue_tit">입양 시 일부 경비가 청구될 수 있습니다.</p>
                <ul class="arr_blue">
                    <li class="first">✔️ &nbsp 시·군·구청에서 보호하고 있는 유기동물 중 공고한 지 10일이 지나도 주인이 나타나지 않는 경우 일반인에게 분양할 수 있습니다.</li>
                    <li>✔️ &nbsp 입양 보호시설에 미리 전화로 문의하시고, 담당자의 안내에 따라 방문 일시 등을 예약합니다.</li>
                    <li>✔️ &nbsp 입양 시 신분증 복사본 2장과 필요한 반려동물 물품을 준비하고 보호시설을 방문해 입양계약서를 작성해야 합니다.</li>
                    <li>✔️ &nbsp 입양 보호시설에는 신청자 본인이 직접 방문해야 합니다.</li>
                    <li>✔️ &nbsp 미성년자에게는 반려동물을 분양하지 않습니다. 분양을 원하는 미성년자는 부모님의 허락을 얻어 반드시 부모님과 함께 방문해야 합니다.</li>
                </ul>

                <div class="line">
                </div>

                <p class="blue_tit">동물 습득시 안내</p>
                <ul class="arr_blue">
                    <li class="first">✔️ &nbsp 공공장소를 떠돌거나 버려진 동물을 발견한 경우 관할 시ㆍ군ㆍ구청과 해당 유기동물 보호시설에 신고해야 합니다.</li>
                    <li>✔️ &nbsp 유기동물을 주인 없는 동물이라 여겨 마음대로 잡아서 팔거나 죽이면 2년 이하의 징역 또는 2천만원 이하의 벌금을 내게 됩니다.</li>
                    <li>✔️ &nbsp시장ㆍ군수ㆍ구청장은 관내에서 발견된 유기동물이 보호받을 수 있도록 필요한 조치를 해야 하며, 주인을 찾을 수 있도록 그 사실을 7 일 이상 공고해야 합니다.</li>
                    <li>✔️ &nbsp 공고 후 10일이 지나도 주인을 찾지 못한 경우, 해당 시ㆍ군ㆍ구등이 동물의 소유권을 갖게 되어 개인에게 기증하거나 분양할 수 있습니다.</li>
                </ul>

            </div>

        </div>
    </section>

    <th:block th:replace="~{./include/footer :: footer1}"></th:block>
    
<th:block th:replace="~{./include/footer :: footer2}"></th:block>

</html>