<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.free.FreeMapper">
	
	<!-- 등록 -->
	<insert id="regist">
		insert into FREE_LIST(free_list_date,
							  free_list_writer,
							  free_list_type,
							  free_list_title,
							  free_list_content)
		values(#{free_list_date},
			   #{free_list_writer},
			   #{free_list_type},
			   #{free_list_title},
			   #{free_list_content})
			
	</insert>
	
	
	
	<!-- 조회 -->
	<select id="getList" resultType="FreeVO">
		<!-- select * from FREE_LIST -->
		
		<![CDATA[
		select * 
		from (select  A.*,
			  		  @ROWNUM := @ROWNUM + 1 as RN
	  		  from ( select *
			 		 from FREE_LIST where 1=1
		]]>
						<if test="searchType != '' and  searchType != null" >
							<if test="searchType == 'searchTitle'">
								<![CDATA[AND FREE_LIST_TITLE LIKE CONCAT('%', #{search}, '%' ) ]]>
							</if>
						</if>
						
						<if test="searchType != '' and  searchType != null">
							<if test="searchType == 'searchContent'">
								<![CDATA[AND FREE_LIST_CONTENT LIKE CONCAT('%', #{search}, '%' ) ]]>
							</if>
						</if>
						
						<if test="searchType != '' and searchType != null">
							<if test="searchType == 'searchWriter'">
								<![CDATA[AND FREE_LIST_WRITER LIKE CONCAT('%', #{search}, '%' ) ]]>
							</if>
						</if>
			 		 order by free_list_num DESC) A, (select @ROWNUM := 0)D
		) B 
		<![CDATA[
		where RN > ( #{page}-1 ) * #{amount} and RN <=  #{page} * #{amount}
		]]>
	</select>
	
	
	
	<!-- 상세보기 -->
	<select id="getDetail" resultType="FreeVO">
		select * from FREE_LIST
		where free_list_num = #{free_list_num}
	</select>
	
	<!-- 수정 -->
	<update id="update">
		update FREE_LIST
		set free_list_type = #{free_list_type},
			free_list_title = #{free_list_title},
			free_list_content = #{free_list_content}
			
		where free_list_num = #{free_list_num}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from FREE_LIST
		where free_list_num = #{free_list_num}
	</delete>
	
	<!-- 조회수 -->
	<update id="viewsUpdate">
		update FREE_LIST set free_list_views = free_list_views + 1 where free_list_num = #{free_list_num}
	</update>
	
	<!-- 검색 -->
	<select id="getTotal" resultType="int">
		select count(*) as total
		from FREE_LIST where 1=1
		<if test="searchType != '' and  searchType != null" >
			<if test="searchType == 'searchTitle'">
				<![CDATA[AND FREE_LIST_TITLE LIKE CONCAT('%', #{search}, '%' ) ]]>
			</if>
		</if>
		
		<if test="searchType != '' and  searchType != null">
			<if test="searchType == 'searchContent'">
				<![CDATA[AND FREE_LIST_CONTENT LIKE CONCAT('%', #{search}, '%' ) ]]>
			</if>
		</if>
		
		<if test="searchType != '' and searchType != null">
			<if test="searchType == 'searchWriter'">
				<![CDATA[AND FREE_LIST_WRITER LIKE CONCAT('%', #{search}, '%' ) ]]>
			</if>
		</if>
 	</select>
	
	<!-- 댓글등록 -->
	<insert id="CommentRegist">
		insert into COMMENT (
							 comment_id,
							 user_list_num,
							 comment_content)
		values (#{comment_id},
				#{user_list_num},
				#{comment_content}
				)
		
	</insert>
	
	<!-- 댓글보기 -->
	<select id="getCommentList" resultType="CommentVO">
		select *
			   <!-- DATE_FORMAT(comment_date, '%Y-%m-%d %H:%i:%s') -->
		from COMMENT
		where user_list_num = #{free_list_num}
	</select>
	
	<!-- 댓글삭제 -->
	<delete id="commentDelete">
		delete from COMMENT
		where comment_num = #{comment_num}
	</delete>
	
	<!-- 댓글수정 -->
	<update id="commentUpdate">
		update COMMENT
		set COMMENT_CONTENT = #{update_comment}
		where COMMENT_NUM = #{comment_num}
	</update>
	
	
</mapper>